<div class="container">
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %> page
  </p>
  <div>
    <p> The navigation bar is on the top right above my custom logo to browse through my pages. </p> 
    <p> Currently in the Software Engineering Technology Program in Centennial. </p>
    <p> I strongly believe that one can only lose when they stop trying. </p>
  </div>
</div>